:root {
    --cor-site: #000000;
    --cor-fundo: #ffffff;
    --cor-principal: #f16ec6;

}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #000000;
    box-sizing: border-box;
}


/* Ajustar as sections no site */
main {
    background-color: #9c9c9c;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;

}

/* Ajustar as itens da sections no site */
h3 {
    display: block;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--cor-principal);
    border-radius: 1em;
    margin: .8em;
    padding: .3em;
}

main p {
    margin: 1em;
}

main section{
    margin: 1em;
}


/* Cabeçalho Menu */
.header {
    text-align: center;
    margin: auto;
    padding: 0;
    background-color: #0D0D0D;
}

.header_logo {
    width: 6em;
    height: auto;
}

#hamburguer {
    background-color: #f16ec6;
    color: #0D0D0D;
    display: block;
    text-align: center;
    cursor: pointer;
    font-size: 2em;
}

.header_nav {
    background-color: #F2C4E2;
    display: none;
}

.header_nav.show {
    display: block;
}

ul {
    margin: 0;
}

.header_nav ul {
    list-style-type: none;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: .8em;
}

.header_nav a {
    color: #0D0D0D;
    text-decoration: none;
    display: block;
    padding: 1em;
}

.header_nav a:hover {
    background-color: #f16ec6;
    color: #ffffff;
}

#sobre {
    margin-top: 1em;
}

/* Ajuste das imagens de perfil */
.icon_foto {
    margin-bottom: 3em;
    width: 15em;
    height: auto;
    border-radius: 20%;
    box-shadow: 0 0 15px #057d92;
}


/* Ajustes dos Cards - Section - Projetos */
.card:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease-in-out;
}

.card {
    transform: scale(1);
    transition: transform 0.5s ease-in-out;
}

.card-body {
    text-align: center;
}

.card-body a {
    margin: 0 15px;
}

.card-img-top {
    height: 200px;
    /* Definir a altura da imagem do card */
    object-fit: cover;
    /* Para evitar distorção da imagem */
}

/* Ajuste dos botões dos cards*/
.card-body a {
    text-decoration: none;
    background-color: var(--cor-principal);
    color: var(--cor-site);
    border: var(--cor-principal);
    font: bold;
}

.card-body a:hover {
    background-color: var(--cor-site);
    color: var(--cor-principal);
    font: bold;
}

/* Configuração do vídeo */
.video_botao {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 2em;
    padding: .35em;
    background-color: rgb(241, 110, 198);
    border-radius: 8px;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}

.video_botao:hover {
    background-color: color-mix(in srgb, var(--cor-site), #ffffff 20%);
}

.div_video {
    display: none;
}


/* Fazendo o Formulário */
form {
    max-width: 400px;
    margin: 50px auto;
    font: bold;
    /* background-color: #636062; */
}

label,
input,
textarea {
    display: block;
    margin-bottom: 10px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
}

button {
    padding: 10px 20px;
    background-color: var(--cor-site);
    color: var(--cor-fundo);
    border-color: var(--cor-principal);
    cursor: pointer;
}

/* Ocultar o Botão de voltar ao Topo */
a[href="#top"] {
    display: none;
}


@media screen and (min-width: 48em) {
    /*768px maior que*/

    #hamburguer {
        display: none;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header_logo {
        margin-left: 2em;
        width: 15em;
        height: auto;
    }

    .header_nav {
        display: block;
        background-color: #0D0D0D;
        font: bold;
    }

    .header_nav ul {
        margin-right: 2em;
        font-size: .9em;
    }

    .header_nav li {
        display: inline-block;
    }

    .header_nav a {
        border-radius: 5px;
        color: #f16ec6;
    }

    .header_nav a:hover {
        background-color: #a02b77;
    }

    /* Ajuste das imagens de perfil */
    .div_foto img {
        float: left;
        width: 10em;
        height: auto;
        border-radius: 20%;
        box-shadow: 0 0 15px #057d92;
    }

    .div_foto p {
        padding-left: 15em;
    }

    /* Botão de voltar ao Topo */
    a[href="#top"] {
        display: block;
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 9999;
        background-color: #ffffff;
        border-radius: 50%;
    }

    a[href="#top"]:hover {
        opacity: .8;
    }

    .trailer_botao {
        display: none;
    }

    .trailer_video {
        display: block;
        block-size: 35em 19, 68em;
    }

    .div_video .video_tamanho {
        border-radius: .8em;
        margin-bottom: 1em;
    }

    #sobre {
        padding: 3em;
    }

}



.div_card {
    width: calc(100% / 3 - 4em);
}

/* Ajustes do footer */
footer {
    background-color: #f16ec6;
    position: relative;
    bottom: 0;
    width: 100%;
    height: auto;
    /* altura do rodapé */
    padding: 1em;
    text-align: center;
}


.logos_footer {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.tamanho {
    width: 2em;
}

.credito_imagem {
    font-size: 0.4em;
    text-decoration: none;
}

.texto_footer {
    font-size: 0.6em;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    /* margin: 0; */
    padding-top: .8rem;
    color: #0D0D0D;
}

@media screen and (min-width: 48em) {
    /*768px maior que */

    .logos_footer {
        flex-direction: row;
        justify-content: center;
    }

}