:root {
    --cor-site: #000000;
    --cor-fundo: #ffffff;
    --cor-principal: #f16ec6;

}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

/* Cabeçalho Menu */
.header {
    text-align: start;
    margin: auto;
    padding: 0;
    background-color: #0D0D0D;
}

.header_logo {
    width: 4em;
    height: auto;
}

#hamburguer {
    background-color: #f16ec6;
    color: #0D0D0D;
    display: block;
    text-align: center;
    /* para o menu iniciar no centro*/
    padding: 0;
    cursor: pointer;
    font-size: 2em;
}

.header_nav {
    background-color: #F2C4E2;
    display: none;
}

.header_nav.show {
    display: block;
}

ul {
    margin: 0;
}

.header_nav ul {
    list-style-type: none;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: .8em;
}

.header_nav a {
    color: #0D0D0D;
    text-decoration: none;
    display: block;
    padding: 1em;
}

.header_nav a:hover {
    background-color: #f16ec6;
    color: #ffffff;
}


/* Ajustar as sections no site */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    gap: 5em;
    margin: .8em;
    padding: 1.2em;
}


/* Ajuste das imagens de perfil */
.div_foto {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; fez ficar muito afastado do menu*/
}

.div_foto img {
    width: 15em;
    height: auto;
    border-radius: 20%;
    box-shadow: 0 0 15px #057d92;
}




/* Ajustes dos Cards - Section - Projetos */
.card:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease-in-out;
}

.card {
    transform: scale(1);
    transition: transform 0.5s ease-in-out;
}

.card-body {
    text-align: justify;
}

.card-img-top {
    height: 200px;
    /* Definir a altura da iamgem do card */
    object-fit: cover;
    /* Para evitar distorção da imagem */
}







/* .icon_foto {
    width: 10em;
    border-radius: 20%;
}

main section{
    text-align: justify;
}
.secao_imagens {
    margin: 0;
    font-family: sans-serif;
}

.div_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 4em; */
/* margin: .8em;
    padding: 1.2em;
    box-shadow: 2px 2px 16px 0px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background-color: #f7c9e7;
    transition: all 0.5s ease;
} */

/* 
h2 {
    text-align: center;
    text-transform: uppercase;
    background-color: #f16ec6;
    margin: .1em;
    padding: .35em;
    border-radius: .5em;
}


section {
    text-align: justify;

}


.icon_img {
    width: 5.5vh;
    margin: .5em;
    /* width: 100%; */
/* } */
/* 
.row{
    align-items: center;
}

.card:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}

.card {
    transform: scale(1);
    transition: transform 0.5s ease-in-out;
}
.card-body{
    text-align: justify;
    gap: 10em;
}

/* .card-body a {
    text-decoration: none;
    background-color: var(--cor-fundo);
    color: var(--cor-principal);
    border:var(--cor-fundo)
    font: bold;
}

.card-body a:hover {
    background-color: var(--cor-principal);
    color: #000000;
    font: bold;
}


.video_botao {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 2em;
    padding: .35em;
    background-color: rgb(241, 110, 198);
    border-radius: 8px;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}

.video_botao:hover {
    background-color: color-mix(in srgb, var(--cor-site), #ffffff 20%);
}

.div_video {
    display: none;
}

.credito_imagem {
    font-size: .5em;
}

.div_foto {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* gap: 2em; */
/* margin-bottom: 2em;
} */

form {
    max-width: 400px;
    margin: 0 auto;
}

label,
input,
textarea {
    display: block;
    margin-bottom: 10px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
}

button {
    padding: 10px 20px;
    background-color: var(--cor-site);
    color: var(--cor-fundo);
    border-color: var(--cor-principal);
    cursor: pointer;
}


@media screen and (min-width: 48em) {
    /*768px maior que*/

    #hamburguer {
        display: none;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header_logo {
        margin-left: 2em;
        width: 15em;
        height: auto;
    }

    .header_nav {
        display: block;
        background-color: #0D0D0D;
        font: bold;
    }

    .header_nav ul {
        margin-right: 2em;
        font-size: .9em;
    }

    .header_nav li {
        display: inline-block;
    }

    .header_nav a {
        border-radius: 5px;
        color: #f16ec6;
    }

    .header_nav a:hover {
        background-color: #a02b77;
    }

    #sobre {
        display: inline-block;
        /* display: flex;
        justify-content: flex-start; */
    }

    .div_card {
        width: calc(100% / 3 - 4em);
    }

    .video_botao {
        display: none;
    }

    .div_video {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


}

.Whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

footer {
    background-color: #f16ec6;
    padding: 1em;
    text-align: center;
}

.logos_footer {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.tamanho {
    width: 2em;
}

.texto_footer {
    font-size: 0.6em;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    margin: 0;
    padding-top: .8rem;
    color: #0D0D0D;
}

@media screen and (min-width: 48em) {
    /*768px maior que */

    .logos_footer {
        flex-direction: row;
        justify-content: center;
        gap: 1.5em;
    }

}

#057d92